#############################################
#
#    ######   #######  ########  ########
#   ##    ## ##     ## ##     ## ##      
#   ##       ##     ## ##     ## ##      
#   ##       ##     ## ##     ## ######  
#   ##       ##     ## ##     ## ##      
#   ##    ## ##     ## ##     ## ##      
#    ######   #######  ########  ########
#
#############################################
*.out
*.orig
*.class



########################################
#
#   ##     ## ####  ######   ######
#   ###   ###  ##  ##    ## ##    ##
#   #### ####  ##  ##       ##
#   ## ### ##  ##   ######  ##
#   ##     ##  ##        ## ##
#   ##     ##  ##  ##    ## ##    ##
#   ##     ## ####  ######   ######
#
########################################
*.png
.DS_Store
.idea
.vscode